<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Django Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="E:\NTSS2768\APPL\Pythodcode\virtualenv\Scripts\python.exe| E:\NTSS2768\APPL\Pythodcode\virtualenv\Lib\site-packages\asgiref\wsgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
